<?xml version="1.0"?>

<configuration>

  <connectionStrings>
    <add name="MyLMSConnectionString" connectionString="Data Source=.;Initial Catalog=MyLMS;Persist Security Info=True;User ID=sa;Password=Ak11"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

</configuration>
